<div>
    <div class="pull-right btn-group" role="group">
        <a ui-sref="cart" class="btn btn-primary">Cart <span class="badge">{{viewModel.itemsInCart}}</span></a>
        <a ui-sref="login" class="btn btn-default">Login</a>
    </div>

    <h2>Search</h2>
    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Search products" data-ng-model="viewModel.searchText" /><button id="search" class="btn btn-default" data-ng-click="SearchItem()">Search</button>
    </form>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3" data-ng-repeat="product in viewModel.searchResults">
                    <div class="thumbnail">
                        <a data-toggle="modal" class="img-rounded" data-ng-click="SelectItem(product)" data-target="#productDetailsModal">
                            <img src="/app/images/book.jpg" alt="book text" />
                        </a>
                        <div class="caption">
                            <h3>{{::product.ShortDescription}}</h3>
                            <p>{{::product.LongDescription}}</p>
                            <p><a href="#" class="btn btn-primary" role="button" data-ng-click="AddItemToCart(product.ProductId)">Add To Cart</a> <a href="#" class="btn btn-default" role="button" data-toggle="modal" data-ng-click="SelectItem(product)" data-target="#previewModal">Preview</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="productDetailsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{viewModel.selectedItem.ShortDescription}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tr>
                            <td>Description</td>
                            <td>{{viewModel.selectedItem.LongDescription}}</td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>{{viewModel.selectedItem.Inventory}}</td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>{{viewModel.selectedItem.Price}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="previewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Preview {{viewModel.selectedItem.ShortDescription}}</h4>
                </div>
                <div class="modal-body">
                    <p>Preview PDF will be displayed here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>

