<div>
    <div class="pull-right btn-group" role="group">
        <a ui-sref="cart" class="btn btn-primary">Cart (0)</a>
        <a ui-sref="login" class="btn btn-default">Login</a>
    </div>

    <h2>Search</h2>
    <form class="form-inline">
        <input type="text" class="form-control" placeholder="Search products" /><button id="search" class="btn btn-default">Search</button>
    </form>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="thumbnail">
                        <a href="#">
                            <img src="/app/images/flat-avatar.png" alt="book text" />
                        </a>
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>Test Description</p>
                            <p><a href="#" class="btn btn-primary" role="button">Add To Cart</a> <a href="#" class="btn btn-default" role="button">Preview</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>