<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>Infy InsightShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <link rel="stylesheet" href="~/app/styles/main.css">
</head>
    <body ng-app="infyapp">
        <div class="">
            <div ui-view></div>
        </div>
        <script src="~/app/scripts/components/jquery-1.10.2.min.js"></script>
        <script src="~/app/scripts/components/angular.min.js"></script>
        <script src="~/app/scripts/components/angular-animate.min.js"></script>
        <script src="~/app/scripts/components/angular-mocks.js"></script>
        <script src="~/app/scripts/components/angular-ui-router.min.js"></script>
        <script src="~/app/scripts/components/bootstrap.min.js"></script>
        <script src="~/app/scripts/app.js"></script>
        <script src="~/app/scripts/controllers/dashboard.js"></script>
        <script src="~/app/scripts/controllers/login.js"></script>
        <script src="~/app/scripts/controllers/addProductController.js"></script>
    </body>
</html>
