<connectionStrings>
  <add name="DBStoreEntities" connectionString="metadata=res://*/DBStore.DBStore.csdl|res://*/DBStore.DBStore.ssdl|res://*/DBStore.DBStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=infyshopdb.c11glr3pcmtv.us-west-2.rds.amazonaws.com;Database=DBStore;User Id=admin;Password=rgopu.007;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
